[data-theme='warm'] .t-about-box {
  background: yellow;
}

[data-theme='warm'] .t-about-text {
  color: yellow;
}

[data-theme='warm'] .t-home-item1 {
  color: yellow;
}

[data-theme='warm'] .t-home-item3{
  color: yellow;
}